@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <h3>Инфо</h3>
        
                       <table>
                           <tr>
                                      <td rowspan="4"><img src="http://mywishlist.ru/pic/i/wish/orig/007/216/158.jpeg"/>fdgdfgdfgdf</td>
                                      <td><h4>Низвание: </h4> @ViewBag.Name</td>
                           </tr>
                           <tr>
                               <td><h4>Автор: </h4> @ViewBag.Author</p></td>
                           </tr>
                           <tr>
                               <td><h4>Описание: </h4> @ViewBag.Remark</td>
                           </tr>   
                           
                            <tr>
                               <td><span style="font-weight:bold">Цена: </span> @ViewBag.Price</td>
                           </tr>           
                       </table>
               </div>
  